<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/aopalliance-1.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/commons-logging-1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop-5.0.0.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aspects-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context-support-5.0.4.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-instrument-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-instrument-tomcat-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jdbc-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jms-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-messaging-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-orm-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-oxm-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-test-4.3.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx-5.0.10.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/jstl-1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/javax.servlet-api-4.0.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-jdbc-5.0.10.RELEASE-sources.jar!/" />
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-context-5.0.10.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>